h1{
    background-color:lightgray;
    
}
label {
    display: inline-block;
    width: 150px;
    
}
#sec{
    display:flex;
   background-color: aqua;
     width:60%;  
     border-style: solid;
     border-width: 2px;
   


